{% extends '_layout.html' %}

{% block title%} selected subject {% endblock%}
{%block content%}

<p>
    <a href="{{ url_for('selected_subject') }}"> View Subject</a>
</p>

<table id="subject_id">
    <tr>
        <th>subject id</th>
        <th>subject name</th>
    </tr>
    {% for row in result %}
    <tr>
        <td> {{row.subject_infor_id}} </td>
        <td> {{row.subject_name}} </td>

        <td>
            <a href="/delete_subject?subject_infor_id={{ row.subject_infor_id }}" onclick="return confirm('Are you sure?')">Delete</a>
        
        </td>
    </tr>
    {%endfor%}
</table>
{%endblock%}